Repository tgstation/map_depot, pull requests merged in 2022-05, with the labels that each got.

#34 Adds Every Single Old Station Map We Didn't Have Already
  StationMaps/AsteroidStation/AsteroidStation.dmm
  StationMaps/AsteroidStation/information.txt
  StationMaps/AsteroidStation/z5.dmm
  StationMaps/BirdboatStation/BirdStation.dmm
  StationMaps/BirdboatStation/information.txt
  StationMaps/BirdboatStation/job/job_changes.dm
  StationMaps/BirdboatStation/job/removed_jobs.dm
  StationMaps/DiscStation/DiscStation.dmm
  StationMaps/DiscStation/information.txt
  StationMaps/DiscStation/z4.dmm
  StationMaps/DonutStation/Multi-Z (April 2020)/Donutstation.dmm
  StationMaps/DonutStation/Multi-Z (April 2020)/Donutstation_LVL2.dmm
  StationMaps/DonutStation/Multi-Z (April 2020)/information.txt
  StationMaps/DonutStation/Single-Z (Feb 2020)/Donutstation.dmm
  StationMaps/DonutStation/Single-Z (Feb 2020)/information.txt
  StationMaps/DreamStation/dreamstation04.dmm
  StationMaps/DreamStation/information.txt
  StationMaps/DreamStation/z5.dmm
  StationMaps/EfficiencyStation/EfficiencyStation.dmm
  StationMaps/EfficiencyStation/information.txt
  StationMaps/OmegaStation/OmegaStation.dmm
  StationMaps/OmegaStation/information.txt
  StationMaps/OmegaStation/job_changes.dm
Labels: Map Port

#35 Towerstation
  StationMaps/TowerStation/TowerStation.dmm
  StationMaps/TowerStation/TowerStation.txt
Labels: Map Port, Verified ✅

#38 updates pubby
  StationMaps/PubbyStation/PubbyStation.dmm
  StationMaps/PubbyStation/information.txt
Labels: Map Maintenance
